[Desktop Entry]
Name=CoreImage
Comment=Image Viewer from CoreApps
Exec=coreimage %F
Icon=/usr/share/icons/CoreBox/CoreImage.svg
Type=Application
Categories=Graphics;Viewer;Qt;
Terminal=false
StartupNotify=true
