[Desktop Entry]
Name=CoreImage
Comment=CoreImage is image viewer from CoreApps.
Exec=coreimage %F
Icon=/usr/share/coreapps/icons/CoreImage.svg
Type=Application
Categories=Graphics;Viewer;Qt;Utility;
Terminal=false
StartupNotify=true
